
.content {
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    border-radius: 10px;
    width: 80%;
}

.content ul{
    width: 80%;
    list-style-type:circle;
}

.content li{
    font-size: 150%;
}

#editButton, #cancelButton
{
    background-color: var(--secondary-red);
    color: #fff;
    border-radius: 2px;
    padding: 0.5% 4%;
    cursor: pointer;
    text-align: center;
    width:15%;
}

#editButton:hover , #cancelButton:hover
{
    background-color:#e0dede;
    color: var(--secondary-red);
}