/* global.css */

/* Import the Poppins font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

/* Define global variables */
:root {
    /* Colors */
    --primary-black: #171717;      /* Light Black */
    --secondary-red: #541619;   /* University Red */
    --text-color: #ffffff;           /* White */
    --background-black: #0F0F0F;  /* Black */

    /* Font */
    --font-family: 'Poppins';

    /* Font Sizes */
    --font-size-large: 30px;
    --font-size-medium: 22px;
    --font-size-small: 18px;
}

/* Apply global font and colors 
body {
    font-family: var(--font-family);
    color: var(--text-color);
    background-color: var(--background-color);
    margin: 0;
    padding: 0;
}*/

/* Apply global font sizes */
h1 {
    font-size: var(--font-size-large);
}

h2 {
    font-size: var(--font-size-medium);
}

p {
    font-size: var(--font-size-small);
}

/*Scrollbar Settinbgs*/
/* Custom scrollbar for Webkit browsers (Chrome, Safari...) */
::-webkit-scrollbar {
    width: auto;  /* Width of the scrollbar */
    height: auto; /* Height of the scrollbar for horizontal scrolling */
}

::-webkit-scrollbar-track {
    background: #2e2e2e; /* Background color of the track */
    border-radius: 50%; /* Rounded corners for the track */
}

::-webkit-scrollbar-thumb {
    background-color: var(--secondary-red); /* Color of the scrollbar thumb */
    border-radius: 50%; /* Rounded corners for the thumb */
    border: 2px solid #2e2e2e; /* Optional: Add a border to the thumb */
}

::-webkit-scrollbar-thumb:hover {
    background-color: #666; /* Darker thumb on hover */
}

::-webkit-scrollbar-corner {
    background: transparent; /* Optional: Transparent background for the corner of scrollbars */
}

/* Scrollbar styling for Firefox (applies globally) */
html {
    scrollbar-width: thin; /* Thin scrollbar */
    scrollbar-color: #444 #2e2e2e; /* Thumb color and track color */
}

/* Adding smooth scrolling globally */
html {
    scroll-behavior: smooth; /* Smooth scrolling effect */
}