/* Style for the upload container */
#upload-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    text-align: center;
}

/* Heading style */
#upload-container h2 {
    font-family: var(--font-family);
    font-size: 1.5rem;
    margin-bottom: 15px;
    color: var(--text-color);
}

/* File input styling */
#upload-container input[type="file"] {
    display: block;
    margin: 40px auto 50px auto;
    padding: 5px;
    font-size: 1rem;
}

/* Upload button styling */
#upload-container button {
    justify-content: center;
    text-align: center;
    width: 25%;
    background-color: var(--secondary-red);;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#upload-container button:hover {
    background-color: var(--text-color);
    color: var(--secondary-red);
}

/* Upload status styling */
#upload-status {
    margin-top: 15px;
    font-size: 0.9rem;
    color: var(--secondary-red);;
}

/* Responsive design */
@media (max-width: 768px) {
    #upload-container {
        width: 90%;
    }

    #upload-container h2 {
        font-size: 1.2rem;
    }

    #upload-container button {
        padding: 8px 16px;
        font-size: 0.9rem;
    }
}
