/* Overlay styles */
#overlay {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
    z-index: 10000;
}
#overlay-content {
    background-color: var(--primary-black);
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 10px;
    max-width: 60%;
    max-height: 90%;
    width: 100%;
    word-wrap: break-word;
    white-space: normal;
    overflow: auto;
}
.close-btn {
    cursor: pointer;
    color: rgb(255, 255, 255);
    display: flex;
    justify-self: flex-end;
    font-size: 2rem;
    overflow: hidden;
}

/* Responsive Adjustments */
@media (max-width: 768px) {
    #overlay-content {
        width: 95%; /* Increase width slightly for small screens */
        max-width: 500px;
        padding: 15px;
    }
    .close-btn {
        font-size: 1.5rem; /* Reduce close button size */
    }
}

@media (max-width: 480px) {
    #overlay-content {
        width: 100%; /* Full width on very small screens */
        max-width: 90vw;
        max-height: 90vh;
        padding: 10px;
        border-radius: 5px; /* Less border radius for small screens */
    }
    .close-btn {
        font-size: 1.2rem; /* Further reduce close button size */
    }
}