/* Container for the dynamic content */
.container {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centers the content horizontally */
    padding: 20px;
    margin-top: 20px;
    width: 90%; /* Ensure it doesn't take too much space */
}

/* Table containers for the dynamic tables */
.table, .table2 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%; /* Makes tables responsive */
    margin-bottom: 20px;
}

.table h2, .table2 h2 {
    text-align: center;
    font-size: 23px;
    margin-bottom: 10px;
    color:white; /* Darker text color for visibility */
}

/* Styling for the professor lists */
.allProfessors, .selectedProfessors {
    width: 100%; /* Full width inside the container */
    padding: 10px;
    background-color: #f9f9f9; /* Light background */
    border-radius: 5px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    list-style-type: none; /* Remove default list style */
}

.container .tableHeader {
    display: flex;
    justify-content: space-between;
    background: linear-gradient(to right, var(--secondary-red), var(--background-black)); /* Gradient background */
    font-size: 14px;
    color: #fff;
    padding: 10px;
    text-transform: uppercase;
    letter-spacing: 0.03em;
}

.container .tableRow {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
    padding: 12px;
    margin-bottom: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.tableRow:hover {
    background-color: #f0f0f0; /* Slight highlight on hover */
}

/* Style for list items */
.allProfessors li, .selectedProfessors li {
    display: flex;
    justify-content: space-between;
    padding: 12px 20px;
    margin-bottom: 10px;
    color: black;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    cursor: pointer;
}

/* Apply button styling */
.container #applyButton {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: var(--secondary-red); /* Background color */
    color: #fff;
    border-radius: 5px;
    padding: 10px 20px;
    width: auto;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 15px;
}

.container #applyButton:hover {
    background-color: #e0dede; /* Slightly lighter red on hover */
    color: var(--secondary-red)
}

/* Responsive styles for smaller screens */
@media screen and (max-width: 768px) {
    .container {
        padding: 10px;
    }

    .table, .table2 {
        width: 100%;
    }

    .tableHeader, .tableRow {
        flex-direction: column;
        align-items: flex-start;
    }

    #applyButton {
        width: 100%;
        padding: 12px;
    }
}
